#This is a gitignore file
#Created by "rohitss"
/*/.gradle
/*/.idea/
/*/app/build/
/*/app/src/androidTest
/*/app/src/test
/*/app/*.iml
/*/build
/*/*.iml
/*/import-summary.txt
/*/local.properties
/*/.idea/workspace.xml
/*/.idea/libraries
/*.DS_Store
/*/captures